<div style="margin:15px 0px;">


    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            re-enter the name of GRANTOR?</div>

        <input type="text" name="companyA_rep99" className="companyA_rep99" />
    </div>
    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the name of DIRECTOR ?</div>

        <input type="text" name="DIRECTORGra" className="DIRECTORGra" />
    </div>
    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the name of SECRETARY/DIRECTOR ?</div>

        <input type="text" name="SECRETARYDIRECTORgra" className="SECRETARYDIRECTORgra" />
    </div>



    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the name of CREDITOR</div>

        <input type="text" name="companyB_rep99" className="companyB_rep99" />
    </div>
    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the name </div>

        <input type="text" name="presence" className="presence" />
    </div>

    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the Occupation </div>

        <input type="text" name="companyB_Occupation" className="companyB_Occupation" />
    </div>
    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the address </div>

        <input type="text" name="address" className="address" />
    </div>

    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the signature </div>

        <input type="file" name="imginsert5" className="imginsert5" />
    </div>
    <div style="margin-bottom: 10px;">
        <div
            style="font-size:15px;color: #000;padding:0px;margin:0px;margin-bottom:10px;font-family: Tahoma,Verdana,Segoe,sans-serif;font-weight:600;">
            Enter the Date </div>

        <input type="date" name="companyB_date" className="companyB_date" />
    </div>

    <div style="display: none;">
        <input type="date" name="reverse100_companyB_date" className="reverse100_companyB_date" />
    </div>
</div>

</div>